* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: sans-serif;
}

article {
  padding: 0 2em;
  font-size: 1.75em;
}

img {
  display: block;
  max-width: 100%;
}

blockquote {
  color: #333;
  border-left: 5px solid lightgrey;
  margin-left: 0;
  padding: 0.1em 1em;
}

blockquote p {
  margin: 0;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  padding: 0.15em;
}

li {
  padding: 0.25em;
}

pre code {
  background-color: inherit;
  border: inherit;
  font-size: 16px;
}

th {
  text-align: left;
}

table {
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
  font: inherit;
}

tr {
  border-top:1px solid #ccc;
  background-color:#fff;
  margin:0;
  padding:0;
}

tr:nth-child(2n) {
  background-color:#f8f8f8;
}

th, td {
  border:1px solid #ccc;
  text-align:left;
  margin:0;
  padding:6px 13px;
}

th:first-child, td:first-child {
  margin-top: 0;
}

th:last-child, td:last-child {
  margin-bottom: 0;
}

th {
  font-weight:bold;
}
